@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C22E28;
    color: white;
}
.pokeball-logo {
    position: absolute;
    left: 5%;
    height: 50px;
}
.myPokedex-logo {
    width: 230px;
}
.footer {
    bottom: 0;
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C22E28;
    padding: 1rem;
    color: white;
    font-size: 10px;
}
.footer a {
    border-bottom: white solid 2px;
    transition: 100ms;
    text-decoration: none;
    color: white;
}
.footer a:hover{
    border-color: black;
    transition: 200ms;
    color: black;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,4fr));
    place-items: center;
    padding: 0% 5%;
    padding-bottom: 5rem;
}

.pokemon-card {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);
    height: 130px;
    width: 320px;
    padding: 15px 20px;
    margin: 2rem;
    border-radius: 30px;
}

.poke-img {
    min-width: 70px;
    image-rendering: pixelated;
}

.poke-id {
    font-weight: 600;
    margin-top: 10px;
}

.poke-types {
    margin-top: 8px;
    color: white;
    font-weight: 800;
    display: block;
}
.type {
    margin-right: 15px;
    border-radius: 10px;
    padding: 5px;
}
.grass {
    background-color: #7AC74C;
}
.poison {
    background-color: #A33EA1;
}
.fire {
    background-color: #EE8130;
}
.flying {
    background-color: #A98FF3;
}
.water {
    background-color: #6390F0;
}
.bug {
    background-color: #A6B91A;
    color: black;
}
.normal {
    background-color: #A8A77A;
    color: black;
}
.electric {
    background-color: #F7D02C;
    color: black;
}
.ground {
    background-color: #E2BF65;
    color: black;
}
.fairy {
    background-color: pink;
    color: black;
}
.fighting {
    background-color: #C22E28;
}
.psychic {
    background-color: #F95587;
    color: black;
}
.rock {
    background-color: #B6A136;
}
.steel {
    background-color: #B7B7CE;
}
.ice {
    background-color: #96D9D6;
    color: black;
}
.ghost {
    background-color: #735797;
}
.dragon{
    background-color: #6F35FC;
}
.dark{
    background-color: #705746;
} 

@media only screen and (max-width: 450px) {
    #pokedex {
        margin-top: 20px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0% 8%;
    }

    .pokemon-card {
        height: 100px;
        width: 350px;
        justify-content: space-around;
        width: 85%;
        margin: 1rem;
    }

    .poke-img {
        
        min-width: 100px;

    }
    
}